body{
font-family: 'Uchen', serif;
}
.name-of-company{
    display: flex;
}
.title-of-company{
    text-align: center;
    color: darkturquoise;
}
.foodhouse-details{
    display: flex;
    margin-bottom: 50px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.foodhouse-details img{
    width: 60%;
}
.violet-color-text{
    color:violet;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    color: black;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 50px;
}
.about-me{
    display: flex;
    padding-right: 50px; 
}
.about-me img{
    padding-left: 50px;
    width: 50%;
}

.banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
.blue-color-text{
    color: blue;
}
#My-recipies-header{
    text-align: center;
}
#My-recipies-list{
    text-align: center;
}
.recipies-list{
    display: flex;
}
.one-third-width{
    width: 33.33%;
    padding:5%;
    
}
.one-third-width img{
    width: 80%;
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}