body{
font-family: 'Uchen', serif;
}
.name-of-company{
    display: flex;
}
.title-of-company{
    text-align: center;
    color: darkturquoise;
}
.foodhouse-details{
    display: flex;
    margin-bottom: 50px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.foodhouse-details img{
    width: 60%;
}
.text-color{
    color:violet;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    color: black;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 50px;
}
.about-me{
    display: flex;
}
.about-me img{
    width: 50%;
}